/* Footer.css */

.footer {
    background-color:rgb(8,21,40);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-address {
    margin: 10px 0;
  }
  
  .footer-copyright {
    margin-top: 20px;
    font-size: 0.8em;
  }
  